<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132449855961-n1qa9a4rhd5aiifs50bv35bcud45ikmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132449855961-n1qa9a4rhd5aiifs50bv35bcud45ikmv</string>
	<key>API_KEY</key>
	<string>AIzaSyBTeTzQIMh-S2OOrOrZyRtdIJve0-esBug</string>
	<key>GCM_SENDER_ID</key>
	<string>132449855961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptomorgtest.cryptoCoinsArray</string>
	<key>PROJECT_ID</key>
	<string>crypto-list-array</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-list-array.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132449855961:ios:c579142ebd2cbf741711c8</string>
</dict>
</plist>